
*.pyc
doc/
.DS_Store
doc/biblist.bib
doc/images/esi.pdf
doc/images/ESI1.jpg
doc/images/ESI2.jpg
doc/images/licencia.png
doc/images/PlazaCR.jpg
doc/images/UCLM_Logo.pdf
doc/Memoria.pdf
doc/Memoria.tex
*.aux
*.toc
*.gz
*.out
*.log
*.blg
*.bbl
castillo.jpg
doc/biblist.bib
