
*.pyc
doc/images/blur.jpg
doc/images/bottom_sobel.jpg
doc/images/box_blur.jpg
doc/images/castillo.jpg
doc/images/emboss.jpg
doc/images/enhance.jpg
doc/images/esi.pdf
doc/images/gaussian_blur3x3.jpg
doc/images/gaussian_blur5x5.jpg
doc/images/identity.jpg
doc/images/left_sobel.jpg
doc/images/outline.jpg
doc/images/right_sobel.jpg
doc/images/sharpen.jpg
doc/images/Study.pdf
doc/images/top_sobel.jpg
doc/images/UCLM_Logo.pdf
doc/Memoria.aux
doc/Memoria.bbl
doc/Memoria.blg
doc/Memoria.log
doc/Memoria.out
doc/Memoria.synctex.gz
doc/Memoria.toc
